<h2> 訂單列表 </h2>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>#</th>
      <th>建立時間</th>
      <th>其他</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= link_to order.id, order_path(order) %> </td>
        <td> <%= order.created_at.to_s(:long) %> </td>
        <td> <%= link_to '訂單修改', edit_order_path(order) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
